<div class="messages-container col-sm-10 col-sm-offset-1">

  <div class="profile-card">
    <%= cl_image_tag @user.image, class: "avatar-profile" %>
    <h4><%= @user.first_name %> <%= @user.last_name %></h4>
  </div>

  <div class="messages">
    <% @messages.each do |message| %>
      <% if message.body %>
        <% user = User.find(message.user_id) %>
        <% if user == @current_user %>

          <div class="message-card">
            <div class="message-content">
              <%= message.body %> <br>
              <p>
               <strong><%= user.first_name.capitalize %></strong> @
                <%= message.message_time %>
              </p>
            </div>
            <%= cl_image_tag user.image, class: "avatar-message" %>
          </div>

        <% else %>

          <div class="message-card-recipient">
            <%= cl_image_tag user.image, class: "avatar-message" %>
            <div class="message-content">
              <%= message.body %> <br>
              <p>
               <strong><%= user.first_name.capitalize %></strong> @
                <%= message.message_time %>
              </p>
            </div>
          </div>

        <% end %>
      <% end %>
    <% end %>
    <div class="new-message">
      <%= form_for [@conversation, @message], html: {class: "new-message-content"} do |f| %>
        <div class="field">
          <%= f.text_area :body, class: "form-control" %>
        </div>
          <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
        <div class="send-button">
          <%= f.submit "Send" %>
        </div>
      <% end %>
    </div>
  </div>

</div>
