<!-- Need a redirection and root -->
<div class="container">
  <h1>My bookings</h1>
  <%= link_to "Back to home", root_path %>
  <% @bookings.each do |booking| %>
    <div class="product">
      <img class="product-image" src="https://www.2twentyscooters.com/wp-content/uploads/2017/09/Scooter-bleu-1120_830.jpg">
      <div class="product-body">
        <h3><%= booking.scooter.make %> <%= booking.scooter.model %></h3>
        <p>ID: <%= booking.scooter.reg_plate %></p>
      </div>
      <ul class="list-inline product-controls hidden-sm hidden-xs">
        <li>
          <strong>Total price</strong>
          <p><%= booking.scooter.price * (booking.end_date - booking.start_date).to_i %> IDR</p>
        </li>
        <li>
          <strong>Start date</strong>
          <p><%= booking.start_date %></p>
        </li>
        <li>
          <strong>End date</strong>
          <p><%= booking.end_date %></p>
        </li>
        <li>
          <% if policy(booking).edit? %>
            <%= link_to booking.status, edit_scooter_booking_path(booking.scooter, booking)  %>
          <% else %>
            <strong>Status</strong>
          <% end %>
        </li>
        <li>
          <strong>Review</strong>
          <p><%= link_to "Leave a Review", new_user_booking_review_path(booking.user_id, booking.id) %></p>
        </li>
      </ul>
    </div>
  <% end %>
</div>
