<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <div class="form">
          <h1 class="banner_small">Book a scooter</h1>

          <div class="form-group">
            <%= simple_form_for [@scooter, @booking] do |f| %>
              <%= f.input :start_date, as: :date, html5: true, class: "form-control" %>
              <%= f.input :end_date, as: :date, html5: true, class: "form-control" %>
              <%= f.submit "Request Booking", class: "btn btn-primary" %>
            <% end %>
          </div>

      </div>
    </div>
  </div>
</div>



<div class="text-center">
  <%= link_to "Return", scooter_path(params[:scooter_id]) %>
</div>
