<div class="banner" >
  <div class="banner-content">
    <h1>My Scooter</h1>
<!--  <p>Scoot the world</p> -->
    <div class="row">
      <div class="col-lg-12">
        <div class="form-inline">
<!--      Replaced form with search function -->
          <%= form_tag scooters_path, method: :get do %>
            <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Yellow Vespa in Canggu..." %>
            <%= submit_tag "Go!", class: "btn btn-danger" %>
          <% end %>
        </div><!-- /.form-inline -->
      </div><!-- /.col-lg-12 -->
    </div><!-- /.row -->
    <p> Exploring the world, one scooter at a time </p>
<!--  <a class="btn btn-danger btn-lg">Browse scooters</a> -->
  </div>
</div>

<!--
<div class="container">
  <div class="row">

    <div class="col-xs-12 col-sm-4">
      <div class="homecard">
        <div class="homecard-image">
          <%= image_tag 'bali_scooter.jpg'  %>
        </div>
        <div class="homecard-description">
          <h2>Scooters</h2>
        </div>

      </div>
    </div>

      <div class="col-xs-12 col-sm-4">
        <div class="homecard">
          <div class="homecard-image">
            <%= image_tag 'moto_custom.jpg' %>
          </div>
          <div class="homecard-description">
            <h2>Custom</h2>
          </div>

        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="homecard">
          <div class="homecard-image">
            <%= image_tag 'moto_racing.jpg' %>
          </div>
          <div class="homecard-description">
            <h2>Moto</h2>
          </div>

        </div>
      </div>

    </div>
</div>
 -->






