<!-- Need a redirection and root -->
<div class="container">
  <h1 class="banner_small">My Scooters</h1>
  <%= link_to "Back to home", root_path %>
  <% @scooters_users.each do |scooter| %>
    <%= link_to scooter_path(scooter.id) do %>
      <div class="product">
        <%= cl_image_tag scooter.img,height: 150, width: 250, crop: :fill %>
        <div class="product-body">
          <h3><%= scooter.make %> <%= scooter.model %></h3>
          <p>Registration Plate: <%= scooter.reg_plate %></p>
        </div>
        <ul class="list-inline product-controls hidden-sm hidden-xs">
          <li>
            <strong>Price per day</strong>
            <p><%= scooter.price%></p>
          </li>
        </ul>
      </div>
    <% end %>
  <% end %>
</div>
