<!-- Need a redirection and root -->
<div class="container">
  <h1>My Scooters</h1>
  <%= link_to "Back to home", root_path %>
  <% @scooters_users.each do |scooter| %>
    <div class="product">
      <img class="product-image" src="https://www.2twentyscooters.com/wp-content/uploads/2017/09/Scooter-bleu-1120_830.jpg">
      <div class="product-body">
        <h3><%= scooter.make %> <%= scooter.model %></h3>
        <p>Registration Plate: <%= scooter.reg_plate %></p>
      </div>
      <ul class="list-inline product-controls hidden-sm hidden-xs">
        <li>
          <strong>Price per day</strong>
          <p><%= scooter.price%></p>
        </li>
        </li>
      </ul>
    </div>
  <% end %>
</div>
