<h1>Here be the scoots</h1>

<div class="container">
  <div class="row">
    <% @scooters.each do |scooter| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <div class="card-image">
            <%= cl_image_tag scooter.img, height: 250, width: 350, crop: :fill%>
          </div>
          <div class="card-description">
            <%= link_to(scooter) do %>
              <h2><%= scooter.make %></h2>
              <p><%= scooter.model %> | Price Per Day: <%= scooter.price %></p>
            <% end %>
          </div>
          <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="card-trip-user avatar-large"/>
        </div>
      </div>
    <% end %>
  </div>
</div>

