<h1>Scooters in Canggu </h1>

<div class="container">
  <div class="row">
    <% @scooters.each do |scooter| %>
      <div class="col-xs-12 col-sm-3">
        <div class="card">
          <div class="card-image">
            <!-- replaced cl_image_tag with random image until fully functional -->
            <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="card-image"/>
            <%#= cl_image_tag scooter.img, height: 250, width: 350, crop: :fill%>
          </div>
          <div class="card-description">
            <%= link_to(scooter) do %>
              <h2><%= scooter.make %> <%= scooter.model %> (<%= scooter.year %>)</h2>
              <p> <%= scooter.price %> IDR/day </p>
              <div class="card-description-right"><p><%= scooter.location %></p></div>
            <% end %>
          </div>
          <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="card-user avatar-large"/>
        </div>
      </div>
    <% end %>
  </div>
</div>
