<div class="showbanner" >
  <div class="showbanner-content">
    <div class="btn btn-danger btn-lg"><%= link_to "BOOK NOW", new_scooter_booking_path(@scooter) %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-6 col-sm-4 col-sm-offset-2">
      <%= cl_image_tag @scooter.img, height: 300, width: 400, crop: :fill %>
    </div>
   <div class="col-xs-6 col-sm-4 col-sm-offset-2">
    <h3 class="text-center"> Details </h3>
      <table class="table table-condensed">
        <tr>
          <td><strong> Owner </strong></td>
          <td><%= @scooter.user.first_name %> <%= @scooter.user.last_name %></td>
        <tr>
        <tr>
          <td><strong> Model </strong></td>
          <td><%= @scooter.model %></td>
        <tr>
        <tr>
          <td><strong>Make</strong></td>
          <td><%= @scooter.make %></td>
        </tr>
        <tr>
          <td> <strong>Price per day</strong></td>
          <td><%= @scooter.price %> k IDR </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <% @scooter.reviews.each do |review| %>
      <div class="col-xs-12 col-sm-3">
        <div class="card">
          <div class="card-description">
            <% review.rating.to_i.times do  %>
              <span class="glyphicon glyphicon-star"></span>
            <% end %>
            <% (5 - review.rating.to_i).times do %>
              <span class="glyphicon glyphicon-star-empty"></span>
            <% end %>
            <p><%= review.content %></p>
          </div>
          <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="card-user avatar-large"/>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= link_to " < Return to the list", scooters_path %>


<%= link_to 'Message', conversation_path(sender_id: @current_user.id, recipient_id: @scooter.user.id), method: 'post'%>

