<h1>this be the scoot</h1>

<%= @scooter.make %> <%= @scooter.model %> <%= @scooter.price %>


<%= link_to "Book Scooter", new_scooter_booking_path(@scooter) %>

<%= link_to "Return", scooters_path %>
